:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

body {
    background-color: black;
    color: white;
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Overpass', sans-serif;
}

.rating-container, .thankyou-container {
    background-color: var(--very-dark-blue);
    border-radius: 1em;
    width: 340px;
    padding: 2em;
}

.rating-container img {
    background-color: var(--dark-blue);
    border-radius: 50%;
    padding: 0.8em;
}

.rating-container h1 {
    font-size: 28px;
}

.rating-container p {
    color: var(--medium-grey);
    font-size: 15px;
}

.rating-container #ratings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rating-container #ratings span {
    border-radius: 50%;
    padding: 1.3rem;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    background-color: var(--dark-blue);
    color: var(--medium-grey);
    cursor: pointer;
}

.btn-submit input {
    background-color: var(--orange);
    border: none;
    border-radius: 28px;
    margin-top: 16px;
    color: var(--white);
    padding: 16px 135px;
    cursor: pointer;
}

.thankyou-container p {
    color: var(--medium-grey);
    font-size: 15px;
    text-align: center;
}

.thankyou-container {
     display: flex;
     flex-direction: column;
     align-items: center;
}

.thankyou-container h1 {
    font-size: 28px;
}

.thankyou-container img {
    width: 35%;
}

#selection {
    background-color: var(--dark-blue);
    color: var(--orange);
    padding: 0.5em ;
    border-radius: 1.5em;
}

footer {
    color: var(--light-grey);
}

footer a {
    color: var(--light-grey);
    text-decoration: none;
}